@charset "UTF-8";

:root {
  --color1: #202124;
  --color2: #161618;
  --color3: rgb(238, 253, 24);
  --text-color: aliceblue;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "century gothic", monospace;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: var(--color2);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  color: var(--text-color);
  width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 10px;
}

#copyBox,
#configBox {
  background-color: var(--color1);
  padding: 15px;
}

/* Box onde mostra o password gerado e o botão de copiar */

#copyBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#passwordText {
  background-color: var(--color1);
  border: none;
  outline: none;
  font-size: 2.5em;
  color: var(--text-color);
}

#copyButton {
  fill: var(--color2);
  height: 30px;
  width: fit-content;
  padding-left: 30px;
  transition: 0.2s all;
  cursor: pointer;
}

#copyButton:hover {
  fill: var(--color3);
}

/* Box das configurações para gerar o password */

#configBox {
  height: 370px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}

#lengthBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lengthBox > span {
  font-size: 2em;
}

#lengthBox > h3 {
  font-size: 1.3em;
}

#checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#checkboxes span {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 1.3em;
}

#passSize,
input[type="checkbox"] {
  accent-color: var(--color3);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Box do display da força do password */

#strengthBox {
  background-color: var(--color2);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#strengthBox > h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4d4d4d;
}

#strengthBox span {
  font-size: 20px;
}

#strengthBox div {
  display: flex;
  gap: 10px;
  width: 50%;
}

#strengthLevels {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.strengthLevel {
  width: 25%;
  height: 100%;
  border: 1px solid aliceblue;
}

.increaseStrength {
  background-color: var(--color3);
  border: none;
}

/* Botão de gerar password */

#generateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--color3);
  padding: 15px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: var(--color3);
  gap: 20px;
  cursor: pointer;
  transition: 0.2s all;
}

#generateBtn svg {
  fill: var(--color3);
  width: 25px;
}

#generateBtn:hover {
  background-color: var(--color3);
  color: var(--color1);
}

#generateBtn:hover svg {
  fill: var(--color1);
}

@media screen and (max-width: 490px) {
  #passwordText {
    font-size: 1.6em;
  }
}
